 .card {
  border-radius: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 0.5px -1px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10vh;
  height: 250px;
  display: flex;
  position: relative;
  background-color: #101010d1;
  color: #f0f2f5;
  border: 12 + px solid rgba(16, 16, 16, 0.63);

  box-sizing: border-box;
  max-width: max-content;
  font-family: 'Times New Roman';
}

.card:hover {
  /* <Card /> that is also <Link /> */
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0, 0, 0, 0.43);
  color: blueviolet;
  cursor: auto;
}
.img {
  width: 50px;
}
#companylist {
  position: relative;
  left: 410px;
}